<launch>

  <arg name="_dict" value="_dict:=$(find InspectorBaxter)/vocab/voice_cmd.dic" />
  <arg name="_kws" value="_kws:=$(find InspectorBaxter)/vocab/voice_cmd.kwlist" />
  <node name="pocketsphinx_recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen" args="$(arg _dict) $(arg _kws)" />

  <node name="baxter_speech" pkg="InspectorBaxter" type="baxter_speech.py"/>

</launch>
