<launch>

<include file="$(find InspectorBaxter)/launch/move_baxter.launch" />
<include file="$(find InspectorBaxter)/launch/pcl_extract.launch" />
<include file="$(find openni2_launch)/launch/openni2_launch.launch" />
<include file="$(find InspectorBaxter)/launch/baxter_speech.launch" />

</launch>
